# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (not used but just in case)
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode Playground
timeline.xctimeline
playground.xcworkspace

# Swift
*.swp
*~.nib
